<!DOCTYPE html>
<html ng-app lang="pt-BR">
  <head>
  	<title>Google Analytics Event Builder | Content Hackers</title>
  	<meta charset="UTF-8">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

	<!-- Materialize CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/css/materialize.min.css">

    <!-- Custom Javascript -->
    <script type="text/javascript" src="js/EventGenerator.js"></script>

    <!-- JavaScript for: jQuery, angular, materialize, and angular-materialize. All of which are needed. -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/js/materialize.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-materialize/0.2.2/angular-materialize.min.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>

    <body ng-app="event-builder">

	  <nav class="grey darken-3">
	    <div class="nav-wrapper container">
	      <a href="#" class="brand-logo"><img class="valign-wrapper" style="height:55px" src="https://contentanalyst.pipz.io/shared/112/files/contenthackers_branco.png"></a>
	      <ul id="nav-mobile" class="right hide-on-med-and-down">
	        <li><a href="sass.html">Sass</a></li>
	        <li><a href="badges.html">Components</a></li>
	        <li><a href="collapsible.html">JavaScript</a></li>
	      </ul>
	    </div>
	  </nav>

		<div class="container">
			<div class="section">
				<h3 class="center-align">Gerador de Links e Parâmetros UTMs</h3>
			</div>
		    <div class="section">
		    	<div class="row">
		    		    <form class="col s12">
		    		      <div class="row">
		    		      	<div class="input-field col s12">
		    		      	  <input ng-model="url" placeholder="URL" id="url" type="text">
		    		      	  <label for="url">URL</label>
		    		      	</div>
		    		        <div class="input-field col s6">
		    		          <input ng-model="utm_source" placeholder="UTM Source" id="utm_source" type="text">
		    		          <label for="utm_source">UTM Source</label>
		    		        </div>
		    		        <div class="input-field col s6">
		    		          <input ng-model="utm_medium" placeholder="UTM Medium" id="utm_medium" type="text">
		    		          <label for="utm_medium">UTM Medium</label>
		    		        </div>
		    		        </div>
		    		        <div class="row">
		    		        <div class="input-field col s6">	
		    		          <input ng-model="utm_date" placeholder="Data (AAAA-MM-DD)" id="utm_date" type="text">
		    		          <label for="utm_date">Data (AAAA-MM-DD)</label>
		    		        </div>
		    		        <div class="input-field col s6">	
		    		          <input ng-model="utm_campaign" placeholder="UTM Campaign" id="utm_campaign" type="text">
		    		          <label for="utm_campaign">UTM Campaign</label>
		    		        </div>
		    		        <div class="input-field col s6">	
		    		          <input ng-model="utm_content" placeholder="UTM Content" id="utm_content" type="text">
		    		          <label for="utm_content">UTM Content</label>
		    		        </div>
		    		        <div class="input-field col s6">	
		    		          <input ng-model="utm_term" placeholder="UTM Term" id="utm_term" type="text">
		    		          <label for="utm_term">UTM Term</label>
		    		        </div>
		    		    	</div>
					    </form>
      					</div>
		    		  </div>
		    		  <div class="section">
		    	      <div class="row">
		    	        <div class="input-field col s9">
		    	          <input readonly="readonly" value="{{url}}?utm_source={{utm_source}}&utm_medium={{utm_medium}}&utm_campaign={{utm_date}}-{{utm_campaign}}&utm_content={{utm_content}}" id="final_url" type="text">
		    	          <label for="final_url">Sua URL com parâmetros UTMs</label>
		    	        </div>
		    	        <div class="col s3">
		    	        <a class="white-text orange waves-effect waves-light btn"><i class="material-icons right">file_copy</i>Copy</a>	
		    	        </div>
		    	      </div>
		    		</div>
		    	</div>

        <footer class="page-footer grey darken-4">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Sobre nós</h5>
                <p class="grey-text text-lighten-4">O <strong>Content Hackers</strong> busca incentivar a comunidade de profissionais de conteúdo, por meio do compartilhamento de conhecimento técnico e analítico em marketing de conteúdo.</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Navegação</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="https://contenthackers.com.br/#inicio">Homepage</a></li>
                  <li><a class="grey-text text-lighten-3" href="https://contenthackers.com.br/blog/">Conteúdo</a></li>
                  <li><a class="grey-text text-lighten-3" href="https://contenthackers.com.br/#consultoria">Fale com um consultor</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2018 Feito com ♥ em Florianópolis
            <a class="grey-text text-lighten-4 right" href="https://contenthackers.com.br/">Mais links</a>
            </div>
          </div>
        </footer>
    </body>
  </html>